<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.app.register.dao.RegisterDao">

    <!--注册用户-->
    <insert id="registerUser" parameterType="com.xzsd.app.register.entity.RegisterInfo">
        insert into t_sys_user(
            user_id,
            user_acct,
            user_password,
            user_name,
            role_id,
            sex,
            phone,
            idcard,
            mail,
            image_path,
            is_delete,
            create_time,
            create_user,
            update_time,
            version
        )
        values (
            #{userId},
            #{userAcct},
            #{userPassword},
            #{userName},
            4,
            #{sex},
            #{phone},
            #{idCard},
            #{mail},
            #{imagePath},
            0,
            now(),
            #{userId},
            now(),
            0
        )
    </insert>

    <!--新增邀请码-->
    <insert id="addInviteCode" parameterType="com.xzsd.app.register.entity.RegisterInfo">
        insert into t_sys_customer(
        customer_id,
        user_id,
        invitation_code,
        is_delete,
        create_time,
        create_user,
        update_time,
        update_user,
        version
        )
        values (
        #{customerId},
        #{userId},
        <if test="inviteCode != null and inviteCode != ''">
            #{inviteCode},
        </if>
        <if test="inviteCode == null">
            '',
        </if>
        0,
        now(),
        #{userId},
        now(),
        #{userId},
        0
        )
    </insert>

    <!--统计用户账号和手机号-->
    <select id="countUserAcctAndPhone" parameterType="com.xzsd.app.register.entity.RegisterInfo" resultType="int">
        select count(*)
        from t_sys_user
        where is_delete = 0
        and (user_acct = #{userAcct} or phone = #{phone})
    </select>


</mapper>
