<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.pc.goodsclassify.dao.GoodsClassifyDao">

    <!--新增商品分类-->
    <insert id="addGoodsClassify" parameterType="com.xzsd.pc.goodsclassify.entity.GoodsClassifyInfo">
        insert into t_info_goods_classify
        (
        classify_id,
        classify_name,
        classify_comment,
        classify_parent,
        rank,
        is_delete,
        create_time,
        create_user,
        update_time,
        update_user,
        version
        )
        values
        (
        #{classifyId},
        #{classifyName},
        #{classifyComment},
        #{classifyParent},
        <if test="classifyParent == 0">
            1,
        </if>
        <if test="classifyParent != 0">
            2,
        </if>
        0,
        now(),
        #{createUser},
        now(),
        #{updateUser},
        0
        )
    </insert>

    <!--查询商品分类详情-->
    <select id="getGoodsClassify" parameterType="java.lang.String" resultType="com.xzsd.pc.goodsclassify.entity.GoodsClassifyInfo">
        select
        classify_name classifyName,
        classify_comment classifyComment,
        classify_id classifyId,
        classify_parent classifyParent,
        version
        from t_info_goods_classify
        where classify_id = #{classifyId}
        and is_delete = 0
    </select>

    <!--查询商品一二级分类列表-->
    <select id="getListFirstAndSecondGoodsCategory" resultType="com.xzsd.pc.goodsclassify.entity.GoodsClassifyVO">
        select
        t1.classify_id as classifyId,
        t1.classify_name as classifyName,
        t1.classify_parent  as classifyParent,
        t1.rank as rank,
        t1.version as version
        from t_info_goods_classify t1
        where  t1.is_delete = 0
        order by t1.create_time desc
    </select>

    <!--修改商品分类-->
    <update id="updateGoodsClassify" parameterType="com.xzsd.pc.goodsclassify.entity.GoodsClassifyInfo">
        update t_info_goods_classify
        set
            classify_name = #{classifyName},
            classify_comment = #{classifyComment},
            update_user = #{updateUser},
            update_time = now(),
            version = version + 1
        where classify_id = #{classifyId}
        and version = #{version}
    </update>

    <!--删除商品分类-->
    <update id="deleteGoodsClassify" parameterType="java.lang.String">
        update t_info_goods_classify
        set
        is_delete = 1,
        update_user = #{userId},
        update_time = now(),
        version = version + 1
        where classify_id in
        <foreach item="classifyId" collection="listcode" open="(" separator="," close=")">
            #{classifyId}
        </foreach>
    </update>


</mapper>